<header class="bg-white dark:bg-gray-700 px-10 py-4 shadow-lg flex items-center justify-between">
    <div class="flex items-center">
        <nav class="flex ml-3 font-semibold text-gray-600 dark:text-gray-300 text-md">
            <img src="logo.svg" alt="Azure logo" class="h-8 w-8" />
        </nav>
    </div>
    <div class="flex items-center">
        <DarkModeToggle />
    </div>
</header>