<!DOCTYPE html>
<html class="h-full" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["css/app.css"]" />
    <link rel="stylesheet" href="@Assets["Search.OpenAI.RagAudio.Web.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="@InteractiveServer" />
</head>

<body class="overflow-x-hidden h-full bg-gray-100 dark:bg-gray-800 dark:bg-gray-800 dark:text-white">
    <Routes @rendermode="@InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
